.box {
    position: absolute;
    top: -50px;
    left: 0;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    display: flex;
    box-shadow: 1px 2px 3px #333;
    transition: transform 150ms ease;
    transform: scale(0);
    button {
        position: relative;
        padding: 0 !important;
        cursor: pointer;
        outline: none;
        img {
            width: 45px;
            height: 45px;
            transition: transform 250ms ease;
            &:hover {
                transform: scale(1.2) translateY(-5px);
                background-color: transparent !important;
            }
        }
        &:hover .legend-reaction {
            display: inline;
        }
        .legend-reaction {
            position: absolute;
            top: -3rem;
            background-color: #333;
            padding: 0.4rem;
            color: white;
            font-weight: bold;
            font-size: 0.8rem;
            border-radius: 1rem;
            display: none;
        }
    }
    button {
        opacity: 0;
    }
    .reaction-like {
        transition: transform 0.4s ease, opacity 1s ease-out;
        transform: translateY(55px);
    }
    .reaction-love {
        transition: transform 0.4s ease, opacity 1s ease-out;
        transform: translateY(50px);
    }
    .reaction-hug {
        transition: transform 0.6s ease, opacity 1s ease-out;
        transform: translateY(45px);
    }
    .reaction-haha {
        transition: transform 0.6s ease, opacity 1s ease-out;
        transform: translateY(40px);
    }
    .reaction-wow {
        transition: transform 0.8s ease, opacity 1s ease-out;
        transform: translateY(35px);
    }
    .reaction-sad {
        transition: transform 0.8s ease, opacity 1s ease-out;
        transform: translateY(30px);
    }
    .reaction-angry {
        transition: transform 1s ease, opacity 1s ease-out;
        transform: translateY(25px);
    }
}

#like-btn:hover .box button {
    transform: translateY(0);
    opacity: 1;
}

.like:hover .box {
    transform-origin: (50%, 0);
    transform: scale(1);
    background: white;
}
